.hover-images-container {
  display: flex;
  gap: 8px;
}

.image-card {
  position: relative;
  width: 220px;
  height: 448px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 220px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.image-card:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  z-index: 5;
  bottom: -215px;
  left: 0;
  width: 100%;
  height: 448px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(8, 16, 23, 0) 0%, #081017 76.92%);
  transition: all 0.5s ease-out;
  padding-top: 85%;
}

.image-card:hover .overlay {
  bottom: 0;
}

.overlay h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: white;
  margin: 0;
}

.overlay p {
  font-size: 14px;
  color: white;
  margin-top: 4px;
  height: 200px;
  line-height: 1.4;
}
